div#loginModal.reveal-modal(data-reveal)
  h3 Facebook
  p
    fb:login-button(show-faces="true", width="200", max-rows="1")
    a#facebook-logout.button(style="display: none;") Logout
  p Twitter
  p Linkedin
  a.close-reveal-modal &#215;
